{{extend 'layout.html'}}
<link href="//fonts.googleapis.com/css?family=Montserrat+Alternates:400" rel="stylesheet" type="text/css" media="all">
<style>
body {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;

  margin: 0;
  font-family: "Montserrat Alternates","HelveticaNeue","Helvetica Neue",sans-serif;
  color: #cedbf0;
}

#no_table_hash1__row .control-label,
#no_table_hash2__row .control-label,
#no_table_hash3__row .control-label,
#no_table_hash4__row .control-label {
  display:none;
}
div.container-fluid .main-container {
  margin: 0 !important;
  padding: 0 !important;
}
#no_table_hash1__row,
#no_table_hash2__row,
#no_table_hash3__row,
#no_table_hash4__row {
  width:25%;
  display:inline-block;
}

#no_table_hash1__row .col-sm-9,
#no_table_hash2__row .col-sm-9,
#no_table_hash3__row .col-sm-9,
#no_table_hash4__row .col-sm-9 {
  width: 100%;
}

#bgvid {
  width:100%;
  bottom:0;
}

#form_holder {
  position: absolute;
  top:33%;
  left:0;
  width:100%;
}

#form_container {
  margin: 0 auto;
  width: 50%;
}

.form-horizontal .form-group {
  margin-left: auto;
  margin-right: auto;
}

</style>
<div class="video_background">
  <video playsinline="" autoplay="" muted="" loop="" poster="" id="bgvid">
    <source src="https://cdn.shopify.com/s/files/1/0852/5364/files/hero_clouds0001-0230.mp4?5269795639934825030" type="video/mp4">
</video>
</div>
<div id="form_holder">
<div id="form_container">
  {{=form}}
</div>
</div>

